/*
 * Carnet
 */

/*   head    */


.head{
	height: 100px;
}

.photo-profil{
	float: left;
}

.photo-profil img{
	width: 100px;
	height: 100px;
	border: 2px solid #eee;
	margin-right: 30px;
}
.donnee-personnel{
	float: left;
}

.name{
	font-size: 1.2em;
	font-weight: 700;
}

h2 .date-inscription{
	display: block;
	font-weight: 400;
}

.radial-progress {
	float: right;
	width: 150px;
	height: 150px;
}

.program-choisi{
	margin-top: 25px;
  	font-size: 1.3em;
}

/*   content   */

.content{
	padding-top: 150px;
}

.content a {
	color: black;
	text-transform : capitalize;
	text-decoration: none;
	font-size: 15px;
}


	.info{
		display: none;
		position: absolute;
		width: 200px;
		height: 100px;
		color: #5B4535;
		background-color: #A4E6DC;
		border: 1px solid #A4E6DC;
		padding: 10px;
		font-size: 12px;
		box-shadow: 0 0 1em #A4E6DC;
		border-radius: 5px;
		z-index: 100;
	}

	.info:before{
		content: "";
		width: 0px;
		height: 0px;
		position: absolute;
		top: 35px;
		left: 198px;
		border-style: solid;
		border-width: 12px 0 12px 20px;
		border-color: transparent transparent transparent #A4E6DC;

	}
	.info a{
		text-decoration: none;
		color: #FD5F22;
	}

	.info a:hover{
		text-decoration: underline;

	}

.panel-heading {
	height: 50px;
	padding: 15px 10px;
}

#panel-family {
	background-color: #E5E5E5;
}

/*
*  la moyenne
*/

#container-speed{
	float: right;
}

/*
 * NEW CARNET
 */

.content-general{
	margin: auto;
	margin-left: 200px;
	padding: 130px 50px;
	text-align: center;
}

.carnet-head {
	min-width:563px;
	display: inline-block;
	margin: 0 auto;
}

.head-left {
	width: 353px;
  	margin: 0 auto;
  	margin-right: 50px;
  	float: left;
}

.head-left img {
	position: relative;
	z-index: 1;
	float: left;
	margin-top: -3px;
}

#banniere {
  display: inline-block;
  float: left;
  min-width: 283px;
  margin-left: -86px;
  background-color: #ebebeb;
  padding: 18px 18px 18px 79px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  z-index: 2;
}

#banniere h2 {
	padding-bottom: 10px;
	font-size: 17px;
}

#banniere h3 {
	text-align: center;
	font-size: 14px;
}

#programs {
	display: inline-block;
	float: left;
	margin-top: 10px;
  	background-color: #ed6770;
  	border: 1px solid #ed6770;
  	border-radius: 5px;
 	padding: 3px 6px 5px 6px;
 }

#programs a {
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
}

.head-right {
	width: 152px;
	float: right;
	display: inline-block;
}

/* HIGHCHART */

.highcharts-data-labels {
	left:10px;
}

/*   content   */

.content{
	padding-top: 0px;
	max-width: 710px;
	margin: 0 auto;
}

#btn {
	background-color: white;
	margin-bottom: 10px;
	text-align: right;
	display: inherit;
}

.btn-success {
  color: #0f0f0f;
  background-color: #f8f8f8;
  border-color: #d7d7d7;
}

.btn-success:hover {
	color: #3ebee5;
	background-color: #f8f8f8;
	border-color: #d7d7d7;
}

.panel-group .panel {
	margin-bottom: -5px;
	border-radius: 0px;
}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #cccccc;
	border-bottom: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#panel-family {
	background-color: #f8f8f8;
}

.panel-default:nth-child(7) {
	border-bottom: 1px solid #cccccc;
}

.question {
	float: left;
	position: relative;
	top: 2px;
	left: -4px;
}

.sous-cat-name {
	display: inline-block;
	float: left;
}

.sous-cat-name a {
	color: black;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 13px;
}

.progress-bar{
	width: 0%;
	background: #ed6770;
	color: black;
	font-weight: bold;
	font-size: 15px;
}

.panel-default>.panel-heading {
  background-color: #eee;
}

.progress {
	padding: 0;
	background: #ffffff;
	margin-right: 20px;
	margin-top: -1px;
}

#percentage-rslt {
	width: 10px;
	float: left;
}

 .panel-heading h3:first-child {
  float: left;
  display: inline-block;
  text-align: left;
  width: 130px;
  padding-left: 1px;
}

.panel-heading h3:last-child {
	width: 110px;
  	float: left;
  	text-align: left;

  	border: 1px solid #cccccc;
  border-radius: 10px;
  font-size: 13px;
  text-align: center;
  padding: 4px 2px;
  background-color: white;
  float: right;
}

.panel-body {
  padding: 0px;
}

#sous-percentage-rslt {
	float: left;
}

#sous-progress {
	height: 10px;
	margin-top: 4px;
}

#sous-progress .progress-bar {
		background-color: #fd98ad;
}

/* color water progress bar*/

.panel-default:nth-child(7) .progress-bar {
	background-color: #3ebee5;
}

/*
*** RESPONSIVE ***
*/

	@media (max-width: 615px) {

	.carnet-head {
		width: 100%;
		min-width: 100%;
		display: inline-block;
		margin: 0 auto;
		float: none;
	}

	.head-right {
		width: 150px;
		  position: relative;
  left: -24px;
		float: left;
	}

	.head-left {
		width: 372px;
		height: 146px;
	  	margin: 0 auto;
	  	float: none;
	}

	#container-speed {
  margin: 14px 0px -23px 0px;
  width: 100%;
	}

}

@media (max-width: 500px) {
	
	.panel-heading h3:first-child {
		width: 100px;
		font-size: 13px;
	}

	.panel-heading h3:last-child {
		font-size: 12px;
		padding: 2px 0px;
		width: 90px;

}
}

@media (min-width:600px) and (max-width: 768px) {

.progress {
	width: 43%;
}
}

@media (max-width: 430px) {
 
 #percentage-rslt {
  width: 10px;
  float: left;
  margin: 2px 0px 0px -13px;
  font-size: 13px;
}
}